<div style="margin-top:20px;" id="cert-sidebar" class="sidebar right">
  <div style="margin-bottom:50px" class="row">
    <div class="btn-group pull-right">
      <a class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"><i class="icon-file icon-white" title='fdkjl'></i>&nbsp;<i class="icon-caret-down icon-white"></i></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-envelope"></i> Share via email</a></li>
        <li><a href="#"><i class="icon-download"></i> Download as PDF</a></li>
      </ul>
    </div>
  </div>
  <div class="well well-small row">
    <a class="pull-right" href="#cert-modal" data-toggle="modal"><i class="icon-wrench"></i></a>
    <div id="cert-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Sidebar Settings</h3>
      </div>
      <div class="modal-body">
        <ul class="unstyled">
          <li>Education</li>
          <li>Badges</li>
          <li>Recommendations</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <% unless current_user.linkedin_user.educations.is_web_visible.count == 0 %>
      <div class="cert-item">
        <h5>Education</h5>
        <% current_user.linkedin_user.educations.is_web_visible.each do |edu| %>
          <ul class="unstyled">
            <small class="muted"><%= edu.school_name %></small>
            <li><%= "#{edu.degree}, #{edu.field_of_study}" unless edu.degree.blank? && edu.field_of_study.blank? %></li>
          </ul>
        <% end %>
      </div>
    <% end %>
    <% if current_user.stackexchange_user %>
      <div class="cert-item">
        <h5>StackOverflow</h5>
        <dt style="margin-bottom:10px">Reputation: <%= current_user.stackexchange_user.reputation %></dt>
        <span class="label icon-tooltip" title="Gold Badges" style="background:gold; padding:4px 8px;margin-right:5px;"><%= current_user.stackexchange_user.gold_badge_count %></span>
        <span class="label icon-tooltip" title="Silver Badges" style="background:silver; padding:4px 8px;margin-right:5px;"><%= current_user.stackexchange_user.silver_badge_count %></span>
        <span class="label icon-tooltip" title="Bronze Badges" style="background:#CD7F32; padding:4px 8px;"><%= current_user.stackexchange_user.bronze_badge_count %></span>
      </div>
    <% end %>
    <% if current_user.codeschool_user %>
      <div class="cert-item">
        <h5>Code School</h5>
        <% current_user.codeschool_user.badges.is_web_visible.take(8).each do |badge| %>
          <%= link_to (image_tag badge.url, :width => '35'), badge.course_url, :class => 'icon-tooltip', :title => "#{truncate(badge.name, :length => 25)}"%>
        <% end %>
        <a class="pull-right" href="#codeschool-badges" data-toggle="modal"><i class="icon-chevron-right"></i></a>
      </div>
    <% end %>
    <div id="codeschool-badges" class="modal show fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="false">×</button>
        <h3 id="myModalLabel">Code School Badges</h3>
      </div>
      <div class="modal-body">
        <% current_user.codeschool_user.badges.is_web_visible.each_slice(4) do |batch| %>
        <% #raise batch.size.inspect %>
          <div class='row-fluid'>
            <% batch.each do |badge| %>
              <div class="span3 pull-left" style='text-align:center;'>
                <%= image_tag badge.url, :width => '50' %>
                <div class="caption">
                  <p style="padding-top:3px;font-size:.9em;line-height:1.1em;"><%= link_to badge.name, badge.course_url, :target => "_blank" %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <% recs = current_user.linkedin_user.recommendations %>
    <% unless current_user.linkedin_user.recommendations.is_web_visible.count == 0 %>
      <div class="cert-item">
        <h5>Recommendations <a class="pull-right" href="#rec-modal1" data-toggle="modal"><i class="icon-chevron-right"></i></a></h5>
        <ul class="unstyled">
          <% recs.each do |rec| %>
            <li><%= truncate(rec.text, :length => 75) %><a href="#rec-modal1" data-toggle="modal">More &raquo;</a><br/><small class="muted"><%= rec.recommender %></small></li>
          <% end %>
        </ul>
      </div>
      <div id="rec-modal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Recommendations</h3>
        </div>
        <div class="modal-body">
          <blockquote>
            <p>I have worked with Kyle on a initiative to accelerate innovation at Cisco TAC. He is a passionate and creative person. He came up with several ideas to stimulate innovation. Excellent team player!</p>
            <small>Janardhana Rao Padavala <cite title="Source Title">Sr. Manager, Technnical Support, Cisco Systems</cite></small>
          </blockquote>
        </div>
      </div>
    <% end %>
  </div>
</div>