<div style="margin-top:20px;" id="cert-sidebar" class="sidebar right">
  <div style="margin-bottom:50px" class="row">
    <div class="btn-group pull-right">
      <a class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"><i class="icon-file icon-white" title='fdkjl'></i>&nbsp;<i class="icon-caret-down icon-white"></i></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-envelope"></i> Share via email</a></li>
        <li><a href="#"><i class="icon-download"></i> Download as PDF</a></li>
      </ul>
    </div>
  </div>
  <div class="well well-small row">
    <a class="pull-right" href="#cert-modal" data-toggle="modal"><i class="icon-wrench"></i></a>
    <div id="cert-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Sidebar Settings</h3>
      </div>
      <div class="modal-body">
        <ul class="unstyled">
          <li>Education</li>
          <li>Badges</li>
          <li>Recommendations</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <% unless current_user.linkedin_user.educations.is_web_visible.count == 0 %>
      <div class="cert-item">
        <h5>Education</h5>
        <% current_user.linkedin_user.educations.is_web_visible.each do |edu| %>
          <ul class="unstyled">
            <small class="muted"><%= edu.school_name %></small>
            <li><%= "#{edu.degree}, #{edu.field_of_study}" %></li>
          </ul>
        <% end %>
      </div>
    <% end %>
    <% if current_user.stackexchange_user %>
      <div class="cert-item">
        <h5>StackOverflow</h5>
        <dt style="margin-bottom:10px">Reputation: <%= current_user.stackexchange_user.reputation %></dt>
        <span class="label icon-tooltip" title="Gold Badges" style="background:gold; padding:4px 8px;margin-right:5px;"><%= current_user.stackexchange_user.gold_badge_count %></span>
        <span class="label icon-tooltip" title="Silver Badges" style="background:silver; padding:4px 8px;margin-right:5px;"><%= current_user.stackexchange_user.silver_badge_count %></span>
        <span class="label icon-tooltip" title="Bronze Badges" style="background:#CD7F32; padding:4px 8px;"><%= current_user.stackexchange_user.bronze_badge_count %></span>
      </div>
    <% end %>
    <% if current_user.stackexchange_user %>
      <div class="cert-item">
        <h5>Code School</h5>
        <a class="no-decoration" href="#">
          <img class="icon-tooltip" title="Level 3 RSpec" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/small_badge/118/level-3-on-testing-with-rspec-f686e3f7a7e37e6aee8ec39b8fd80736.png" width="35"/>
        </a>
      </div>
    <% end %>
    <div id="badge-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Badges</h3>
      </div>
      <div class="modal-body">
        <h5>Code School</h5>
        <a class="no-decoration" href="#">
          <img class="icon-tooltip" title="Level 3 RSpec" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/small_badge/118/level-3-on-testing-with-rspec-f686e3f7a7e37e6aee8ec39b8fd80736.png" width="35"/>
        </a>
        <a class="no-decoration" href="#">
        <img class="icon-tooltip" title="Level 2 RFZ" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/small_badge/27/level-2-on-rails-for-zombies-2-d48f5efdc5baa2beffd93f1ff2be8111.png" width="35"/>
        </a>
        <a class="no-decoration" href="#">
        <img class="icon-tooltip" title="Level 7 CSS" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/small_badge/47/level-7-on-css-cross-country-e6f3f26d75da61126f2f413e089bddc6.png" width="35"/>
        </a>
        <a class="no-decoration" href="#">
        <img class="icon-tooltip" title="Level 3 RBP" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/9/level-3-on-rails-best-practices-91e403c397ed24679a2f862370314e82.png" width="35"/>
        </a>
        <a class="no-decoration" href="#">
          <img class="icon-tooltip" title="Level 3 RSpec" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/small_badge/118/level-3-on-testing-with-rspec-f686e3f7a7e37e6aee8ec39b8fd80736.png" width="35"/>
        </a>
        <a class="no-decoration" href="#">
        <img class="icon-tooltip" title="Level 2 RFZ" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/small_badge/27/level-2-on-rails-for-zombies-2-d48f5efdc5baa2beffd93f1ff2be8111.png" width="35"/>
        </a>
        <a class="no-decoration" href="#">
        <img class="icon-tooltip" title="Level 7 CSS" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/small_badge/47/level-7-on-css-cross-country-e6f3f26d75da61126f2f413e089bddc6.png" width="35"/>
        </a>
        <a class="no-decoration" href="#">
        <img class="icon-tooltip" title="Level 3 RBP" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/9/level-3-on-rails-best-practices-91e403c397ed24679a2f862370314e82.png" width="35"/>
        </a>
      </div>
    </div>
    <div class="cert-item">
      <h5>Recommendations <a class="pull-right" href="#rec-modal1" data-toggle="modal"><i class="icon-chevron-right"></i></a></h5>
      
      <ul class="unstyled">
        <li>"I have worked with Kyle on a initiative to accelerate innovation at Cisco TAC..." <a href="#rec-modal1" data-toggle="modal">More &raquo;</a><br/><small class="muted">Janardhana Rao Padavala</small></li>
        <li>"Kyle has done Summer Intern at Ericsson. During that period..." <a href="#rec-modal1" data-toggle="modal">More &raquo;</a><br/><small class="muted">Janardhana Rao Padavala</small></li>
      </ul>
    </div>
    <div id="rec-modal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Recommendations</h3>
      </div>
      <div class="modal-body">
        <blockquote>
          <p>I have worked with Kyle on a initiative to accelerate innovation at Cisco TAC. He is a passionate and creative person. He came up with several ideas to stimulate innovation. Excellent team player!</p>
          <small>Janardhana Rao Padavala <cite title="Source Title">Sr. Manager, Technnical Support, Cisco Systems</cite></small>
        </blockquote>
        <blockquote>
          <p>Kyle has done Summer Intern at Ericsson and during that period; he delicately completed the given project on time. He is self-driven, focused and dedicated engineer while associating with Ericsson. He got selected in Cisco and worked there before opting for MS which again shows a dedication towards achieving another mile stone. I wish him good luck for his MS.</p>
          <small>Avinash Kumar Singh <cite title="Source Title">Senior Manager - IT, Ericsson India Pvt Ltd</cite></small>
        </blockquote>
        <blockquote>
          <p>I have worked with Kyle on a initiative to accelerate innovation at Cisco TAC. He is a passionate and creative person. He came up with several ideas to stimulate innovation. Excellent team player!</p>
          <small>Janardhana Rao Padavala <cite title="Source Title">Sr. Manager, Technnical Support, Cisco Systems</cite></small>
        </blockquote>
        <blockquote>
          <p>Kyle has done Summer Intern at Ericsson and during that period; he delicately completed the given project on time. He is self-driven, focused and dedicated engineer while associating with Ericsson. He got selected in Cisco and worked there before opting for MS which again shows a dedication towards achieving another mile stone. I wish him good luck for his MS.</p>
          <small>Avinash Kumar Singh <cite title="Source Title">Senior Manager - IT, Ericsson India Pvt Ltd</cite></small>
        </blockquote>
      </div>
    </div>
  </div>
</div>